{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<header>
    <h1>{% block title %} Modify User {% endblock %}</h1>
</header>
<script>
    $(function () {
  $("#autocomplete").autocomplete({
    source: function (request, response) {
      $.getJSON("{{url_for('autocomplete')}}",
        {
          q: request.term,
        },
        function (data) {
          response(data.matching_results);
        }
      );
    },
  });
});
</script>
<div class="pt-2">
    <form id="search_user" method="POST">
        {{ search_form.csrf_token }}
        <div class="row form-group">
            <div class="col">
                {{ wtf.form_field(search_form.email, class='form-control', id='autocomplete') }}
            </div>
            <div class="form-group col-md-3 align-self-end">
                {{ search_form.search(class_="btn btn-info form-control") }}
            </div>
        </div>
    </form>
    <hr>
    <form id="update_user" method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                {{ wtf.form_field(form.first_name) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.last_name) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ wtf.form_field(form.user_type) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.user_id) }}
            </div>
        </div>
        <div class="row pt-4 form-inline">
            <div class="col">
                {{ wtf.form_field(form.division) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.title) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ wtf.form_field(form.supervisor) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ form.submit(class_="btn btn-success") }}
            </div>
            <div class="col">
                {{ form.deactivate(class_="btn btn-danger") }}
            </div>
        </div>
    </form>
</div>

{% endblock %}