<div class="pt-4">
    <form id="update_user" method="POST">
        {{ search_form.csrf_token }}
        <div class="row">
            <div class="col">
                {{ wtf.form_field(form.first_name) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.last_name) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ wtf.form_field(form.user_type) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.user_id) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ wtf.form_field(form.division) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.title) }}
            </div>
            <div class="col">
                {{ wtf.form_field(form.supervisor) }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                {{ wtf.form_field(form.submit) }}
            </div>
            <div class="col">
                
            </div>
        </div>
    </form>

</div>